/* All styling should go here for the sartman assignment portal */
@import url('https://fonts.googleapis.com/css?family=Mansalva|Open+Sans&display=swap');

/* To use the fonts...

    font-family: 'Open Sans', 'georgia', sans-serif;
    font-family: 'Mansalva', 'Comic Sans', cursive;
*/

/* Colors:
    Primary: .brown
    Secondary .dkgreen
    Others .salmon, .tan, .ltblue
*/

body {
    margin: auto;
    color: #4e5340;
    max-width: 1200px;
    font-size: 1.25em;
    line-height: 2em;
}

main {
    padding: 1em;
}

header,
footer {
    background: #1d263b;
    text-align: center;
}

nav {
    color: #db7f67;
    margin-top: -1em;
    margin-left: 1em;
    text-align: left;
    padding-bottom: .25em;
    font-size: 1em;
}

a {
    text-decoration: none;
}

footer {
    clear: both;
}

li {
    font-size: .75em;
}

p {
    font-size: 1em;
}

a,
footer a:hover,
nav a:hover {
    color: #a7a2a9;
}

a:hover,
footer a,
nav a {
    color: #db7f67;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'georgia', sans-serif;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1em;
}

/* All ID related styles */

#logo {
    max-width: 25%;
    min-width: 150px;
    margin: auto;
    padding-top: 1em;
    border: solid thin #db7f67;
}

#title {
    min-height: 4em;
}

#title h1 {
    padding: .4em;
    font-size: 2em;
    font-weight: bold;
}

#footer {
    padding: 1em;
    font-size: 1em;
    color: #db7f67;
}

#lastupdate {
    color: #f1dac4;
}

/* All Class related styles */

.dkblue {
    color: #1d263b;
}

.salmon {
    color: #db7f67;
}

.tan {
    color: #f1dac4;
}

.dkgreen {
    color: #4e5340;
}

.silver {
    color: #a7a2a9;
}