/* All styling should go here for the sartman assignment portal */
@import url('https://fonts.googleapis.com/css?family=Mansalva|Open+Sans&display=swap');

/* To use the fonts...

    font-family: 'Open Sans', 'georgia', sans-serif;
    font-family: 'Mansalva', 'Comic Sans', cursive;
*/

/* Colors:
    Body Font: purplenavy (#4c6085)
    Heading and Link Font: darktangerine (#fca311)
    Background: platinum (#e5e5e5)
    Others: taupe (#463730), yankeesblue (#14213d), shadowblue (#6f8faf)
*/

body {
    background: #e5e5e5;
    margin: auto;
    color: #4c6085;
    max-width: 1200px;
    font-size: 1.25em;
    line-height: 2em;
}

main {
    padding: 1em;
}

header,
footer {
    background: #463730;
    text-align: center;
    color: #fca311;
}

nav {
    color: #e5e5e5;
    margin-top: -1em;
    margin-left: 1em;
    text-align: left;
    padding-bottom: .25em;
    font-size: 1em;
}

nav a {
    border-bottom: 2px solid #fca311;    
}

nav a:hover {
    border-bottom: 2px solid #6f8faf;
}

a {
    text-decoration: none;
}

footer {
    clear: both;
}

li {
    font-size: .75em;
}

ol>li {
    font-size: 1em;
}
ol>li>ol {
    list-style-type: lower-alpha;
}

ol>li>ol>li>ol {
    list-style-type: upper-roman;
}

p {
    font-size: 1em;
}

a,
footer a:hover,
nav a:hover {
    color: #fca311;
}

a:hover {
    color: #4c6085;
}

footer a,
nav a {
    color: #6f8faf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'georgia', sans-serif;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: .9em;
}

h4 {
    font-size: .85em;
}

h5 {
    font-size: .8em;
}

/* All ID related styles */

#logo {
    max-width: 25%;
    min-width: 150px;
    margin: auto;
    border: solid thin #fca311;
}

#title {
    text-align: center;
    font-size: 1.5em; /* Needed */
}

#title h1 {
    padding: .4em;
    font-weight: bold;
}

#footer {
    padding: 1em;
    font-size: 1em;
    color: #fca311;
}

#lastupdate {
    color: #e5e5e5;
}

/* All Class related styles */
.pdtopdot1em { /* Only for this index.html */
    padding-top: .1em;
}

.opensans {
    font-family: 'Open Sans', 'georgia', sans-serif;
}

.mansalva {
    font-family: 'Mansalva', 'Comic Sans', cursive;
}