@media only screen and (min-width:32.5em) {

    body {
        font-size: 1em;
        line-height: unset;
    }

    nav {
        font-size: 1.75em;
        margin-left: 2em;
    }

    header,
    footer {
        border-radius: .75em;
        margin-top: 1em;
    }

    li {
        font-size: 1.25em;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.25em;
    }
    
    h5 {
        font-size: 1em;
    }

    #title {
        font-size: 3em;
        margin: .2em;
        padding: 1em;
    }

    #footer {
        font-size: 1.25em;
    }

    #lessons li {
        font-size: 1.5em;
    }

    #logo {
        margin-top: 2em;
        margin-right: 3em;
        margin-bottom: 1em;
        float: right;
        border: solid thick #fca311;
        border-radius: .25em;
    }

    .boxshadow1ptsolid {
        box-shadow: .75em 1em 4em .1em #463730;
    }

}