@media only screen and (min-width:32.5em) {

    body {
        font-size: 1em;
        line-height: unset;
    }

    nav {
        font-size: 1.75em;
        margin-left: 2em;
    }

    header,
    footer {
        border-radius: .75em;
    }

    li {
        font-size: 1.25em;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    #title {
        min-height: 7em;
    }

    #title h1 {
        font-size: 3em;
    }

    #footer {
        font-size: 1.25em;
    }

    #lessons li {
        font-size: 1.5em;
    }

    #logo {
        margin-top: 2em;
        margin-right: 3em;
        margin-bottom: 1em;
        float: right;
        box-shadow: .75em 1em 4em .1em #1d263b;
        border: solid thick #db7f67;
        border-radius: .25em;
    }

}