/* All styling should go here for the sartman assignment portal */
@import url('https://fonts.googleapis.com/css?family=Mansalva|Open+Sans&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');

/* To use the fonts...

    font-family: 'Open Sans', 'georgia', sans-serif;
    font-family: 'Mansalva', 'Comic Sans', cursive;
*/

/* Colors:
    Primary: .brown
    Secondary .dkgreen
    Others .salmon, .tan, .ltblue
*/

body {
    font-family: 'Mansalva', 'Comic Sans', cursive;
    margin: auto;
    color: #4e5340;
    font-weight: bold;
    max-width: 1000px;
}

main {
    padding: 1em;
    max-width: 600px;
}

header,footer {
    background: #1d263b;
    text-align: center;
    border-radius: .75em;
}

footer {
    clear: both;

}
li a {
    color: #a7a2a9;
}

li a:hover {
    color: #db7f67;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'georgia', sans-serif;
}

/* All ID related styles */

#logo {
    float: right;
    margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 1em;
    max-width: 25%;
    box-shadow: .75em 1em 4em .1em #1d263b;
}

#logo img {
    border: solid thick #db7f67;
    border-radius: .25em;
    max-width: 100%;
}

#title {
    min-height: 7em;
}

#title h1 {
    padding: .4em;
    font-size: 3em;
    font-weight: bold;
}

#footer {
    padding: 1em;
    font-size: 1.25em;
    color: #db7f67;
}

#lastupdate {
    color: #f1dac4;
}

/* All Class related styles */

.dkblue {
    color: #1d263b;
}

.salmon {
    color: #db7f67;
}

.tan {
    color: #f1dac4;
}

.dkgreen {
    color: #4e5340;
}

.silver {
    color: #a7a2a9;
}