@import url("../../css/normalize.css");
@import url("../../css/main.css");

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.image {
    text-align: center;
}

.grid img {
    width: 92%;
    box-shadow: 0 0 15px #463730;
    border: 1px solid #463730;
}

.top-heading {
    background: #463730;
    color: #fca311;
    font-size: 2.25em;
    border-radius: .25em .25em 0 0;
    text-indent: .3em;
    padding-top: .25em;
}

.example-details {
    background: #4c6085;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
    align-content: center;
}

.sections {
    background: #4c6085;
    border-radius: .25em .25em 0 0;
    color: #e5e5e5;
}

.sections a:hover {
    color: #14213d;
}

.sections p {
    padding: .5em;
}