@import url("../../css/normalize.css");
@import url("../../css/main.css");

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #db7f67;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    align-content: 
}

.image {
    text-align: center;
}

.grid img {
    width: 92%;
    box-shadow: 0 0 15px #212220;
    border: 1px solid #db7f67;
}

.top-heading {
    background: #4e5340;
    color: #a7a2a9;
    font-size: 2.25em;
    border-radius: .25em .25em 0 0;
    text-indent: .3em;
    padding-top: .25em;
}

.example-details {
    background: #f1dac4;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
    align-content: center;
}

.sections {
    background: #f1dac4;
    border-radius: .25em .25em 0 0;
}

.sections p {
    padding: .5em;
}