@import url("../../css/normalize.css");
@import url("../../css/main.css");

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #db7f67;
}

#principles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#principles h1 {
    text-align: center;
    
}
#principles img {
    width: 100%;
}

#principles div {
    max-width: 100%;
    background: #f1dac4;
    margin: .1em;
    padding: .25em;
    border-radius: .5em;
}