@media only screen and (min-width: 32.5em) {

    header {
        height: 9em;
    }

    header img {
        height: 125px;
    }

    .pagetitle {
        font-size: 1.5em;
    }

    /* ***** Navigation Menu Section ***** */
    nav ul {
        margin: auto;
        display: flex;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }

    nav ul li {
        /* Clear hidden view set in small.css */
        display: unset;
    }

    nav ul li a {
        padding: .9em .7em;
    }

    nav ul li:first-child {
        display: none;
    }

    nav {
        font-size: .9em;
    }

    /* ***** End of Navigation Menu ***** */


    /* ***** Summary Container ***** */

    .summary-content {
        font-size: 1.25em;
        max-width: unset;
    }

    .summary-content h2 {
        font-size: 1em;
        margin: 0;
    }

    .summary-content>.header-row {
        line-height: unset;
    }

    /* ***** End of Summary Container ***** */


    /* ***** Forecast Container ****** */

    .forecast-container {
        display: block;
        min-width: 400px;
        max-width: 60%;
        margin: auto;
        text-align: center;
        box-shadow: 5px 5px 30px var(--yankeesblue);
        margin-bottom: 2em;
    }


    .forecast-container h3 {
        padding: .5em 0;
        margin: 0;
        font-size: 1em;
    }

    .forecast-content {
        font-family: 'Mansalva', 'Comic Sans', cursive;
        font-size: 1.2em;
        font-weight: 100;
        background: var(--hovering-container-bg);
        opacity: .85;
        box-shadow: 5px 5px 30px var(--yankeesblue);
        width: 100%;
        height: 100px;
        color: var(--hovering-container-color);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 33% auto;
        grid-template-areas:
            "daynames daynames daynames daynames daynames"
            "daily-forecast daily-forecast daily-forecast daily-forecast daily-forecast";
        padding-bottom: 1.2em;
    }

    .daynames {
        padding-top: .1em;
        font-size: 1em;
    }

    .daily-forecast .icon img {
        width: 80%;
        margin: -.5em;
    }

    /* ***** End of Forecast Container ****** */


    /* ***** Article Container ****** */

    .article-content h2 {
        font-size: 1.25em;
    }

    .disp-full-artcile>button {
        font-size: 1em;
    }

    .article-content p {
        font-size: 1em;
    }

    /* ***** End of Article Container ****** */


.comm-icons {
    font-size: 1.25em;
    margin-bottom: 0;
}

.contact-icons img {
        height: 43px;
    }

    .contact-content {
        width: 50%;
    }

    .contact-container {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
    }

    .contact-address-container {
        /* margin-top: -1em; */
    }

    .contact-address-icons {
        display: none;
    }

    .map-container {
        display: unset;
    }

    .map-container iframe {
        width: 250px;
        height: 250px;
        margin:auto;
    }

    /* ***** Footer Container ****** */

    footer {
        font-size: .9em;
    }

    .wx-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Cards for City info */
    div.cards {
        grid-template-rows: 1fr 1fr 1fr;
        display: grid;
    }

    div.cards section a{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-template-areas: "info image";
        width: 90%;
        padding: 1em;
    }

    div.cards section.sodasprings a{
        grid-template-areas:
            "image info";
    }

    div.cards section a.info {
        grid-area: info;
    }

    div.cards section a.image {
        grid-area: image;
        height: auto;
        width: 95%;
        margin: auto;
    }

    .upcoming-events {
        padding: 2em .5em;
    }


}