@media only screen and (min-width: 55em) {

    header {
        max-width: unset;
    }

    main {
        max-width: unset;
    }

    nav {
        max-width: unset;
    }

    div.activities-section p {
        max-width: 50em;
    }

    div.activities-section h2 {
        margin: 1em auto .5em auto;
        text-align: center;
    }

    div.locations h3 {
        width: 50%;
        margin: .5em auto;
    }

    div.locations .button-container {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        float: left;
        margin-top: 3em;
        margin-left: 5em;
    }

    div.activities-section p,
    div.hotels p {
        max-width: 50em;
        margin: auto;
    }


    div.hotels .image {
        max-width: 400px;
    }


    div.locations .display-button {
        margin: 1em 0 .2em 1em;
    }

    div.locations .display-button.active {
        box-shadow: none;
        background: var(--button-background-hover);
        color: var(--button-text-hover);
        transform: none;
    }

    div.locations .display-button:not(.active):hover {
        transform: scale(1.1);
        background: var(--button-background-hover);
        color: var(--button-text-hover);
    }

    div.activities-section,
    div.locations {
        max-width: 1000px;
    }


    /* Temples Page Section */
    div.temple-locations {
        max-width: 1500px;
    }

    div.temples {
        text-align: center;
    }

    div.temples .temples-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "temple-services temple-histories""temple-closures temple-closures""temple-baptistry-schedule temple-initatory-schedule""temple-endowment-schedule temple-sealing-schedule";
        margin-bottom: 2em;
    }

    div.temples .image {
        display: inline;
        margin: .5em;
    }

    div.temples img {
        max-width: 400px;
        width: 100%;
        height: 100%;
    }

    div.temples image a {
        width: 100%;
        height: 100%;
    }

    div.temples .temple-contact-container {
        grid-area: temple-contact-container;
    }

    div.temples .temple-services {
        grid-area: temple-services;
    }

    div.temples .temple-services ul,
    div.temples .temple-histories ul {
        width: 50%;
        margin: .5em auto auto auto;
    }

    div.temples .temple-histories {
        grid-area: temple-histories;
    }

    div.temples .temple-closures {
        grid-area: temple-closures;
        width: 50%;
        background: var(--peach-orange);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 30px var(--peach-orange);
    }

    div.temples .temple-baptistry-schedule,
    div.temples .temple-initatory-schedule,
    div.temples .temple-endowment-schedule,
    div.temples .temple-sealing-schedule {
        grid-area: temple-closures;
        background: var(--jordy-blue);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 30px var(--jordy-blue);
    }

    div.temples .temple-baptistry-schedule {
        grid-area: temple-baptistry-schedule;
    }

    div.temples .temple-initatory-schedule {
        grid-area: temple-initatory-schedule;
    }

    div.temples .temple-endowment-schedule {
        grid-area: temple-endowment-schedule;
    }

    div.temples .temple-sealing-schedule {
        grid-area: temple-sealing-schedule;
    }

    /* End Temples Page Section */


    /* Property Page Section */
    div.properties-container {
        max-width: 1500px;
    }

    div.property {
        text-align: center;
    }

    div.property .property-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "room-count room-count" "garage garage" "property-services property-amenities";
        margin-bottom: 2em;
    }

    div.property .image {
        display: inline;
        margin: .5em;
    }

    div.property img {
        max-width: 400px;
        width: 100%;
        height: 100%;
    }

    div.property image a {
        width: 100%;
        height: 100%;
    }

    div.property .property-contact-container {
        grid-area: temple-contact-container;
    }

    div.property .room-count {
        grid-area: room-count;
        width: 90%;
        margin: 2em auto auto;
    }

    div.property .garage {
        grid-area: garage;
        width: 90%;
        margin: 1em auto;
    }

    div.property .property-services {
        grid-area: property-services;
    }

    div.property .property-services,
    div.property .property-amenities {
                background: var(--jordy-blue);
                padding: 1em;
                border-radius: 5px;
                box-shadow: 0 0 30px var(--jordy-blue);
    }


    div.property .property-services ul,
    div.property .property-amenities ul {
        width: 50%;
        margin: .5em auto auto auto;
    }

    div.property .property-amenities {
        grid-area: property-amenities;
    }

    /* End Temples Page Section */



    /* Footer Section */


    /* footer {
        grid-template-areas: "contact map""summary map";
        grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    }

    footer a,
    footer a:visited {
        transition: all .2s ease-in-out;
    }

    footer a:hover {
        color: var(--footer-link-hover-text);
    }

    footer .map-active {
        grid-area: map;
        margin: auto;
        height: 200px;
        width: 95%;
    } */

    /* End Footer Section */

}