@media only screen and (min-width: 32.5em) {


    main {
            max-width: 1000px;
    }
    /* Main Navigation Section */

    
    nav ul li.active {
        background: unset;
    }

    nav ul li.active a,
    nav ul li.active a:visited {
        color: unset;
    }

    nav {
        max-width: 1200px;
    }

    nav ul {
        /* overflow: hidden; */
        width: unset;
    }

    nav ul:not(.displayed) li {
        display: unset;
    }

    nav ul.displayed li {
        display: unset;
    }

    nav ul li {
        display: unset;
        float: left;
        padding:0;
    }

    nav ul li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
    }

    nav ul li a:hover:not(.active) {
        background: var(--main-nav-link-hover-bkg);
        color: var(--main-nav-link-hover-text);
    }

    nav ul li a.active {
    }

    nav ul li:first-child {
        display: none;
    }

    /* End of Main Navigation Section */


    /* Activities Section */

    div.activity-images img {
        height: 300px;
    }

    /* End of Activities Section */



    /* Temple Location Section */

    div.activities-section,
    div.locations {
        max-width: 500px;
    }

    div.locations .hide,
    div.locations hr {
        display: none;
    }

    div.locations .button-container {
        display: block;
        text-align: center;
    }

    div.locations .display-button.active {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
        background: var(--button-background-hover);
        color: var(--button-text-hover);
        transform: scale(1.1);

    }

    div.locations .display-button {
        padding: .5em;
        border: none;
        transition: all .2s ease-in-out;
        text-align: center;
        background: var(--button-background);
        color: var(--button-text);
        border-radius: 3px;
        display: inline;
        margin: 0 .4em;
    }

    div.locations .display-button:hover {
        transform: scale(1.1);
        background: var(--button-background-hover);
        color: var(--button-text-hover);
    }

    div.locations .map {
            grid-area: map;
            margin: auto;
            height: 200px;
            width: 95%;
        }


    /* End Temple Location Section */



    /* Footer Section */

    footer {
        grid-template-areas: "map contact""map summary";
        grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    }

    footer a,
    footer a:visited {
        transition: all .2s ease-in-out;
    }

    footer a:hover {
        color: var(--footer-link-hover-text);
    }

    footer .map-active {
        grid-area: map;
        margin: auto;
        height: 200px;
        width: 95%;
    }

    /* End Footer Section */

}