@media only screen and (min-width: 32.5em) {


    /* Main Navigation Section */

    nav ul li:hover,
    nav ul li:hover>a {
        background: var(--main-nav-link-hover-bkg);
        color: var(--main-nav-link-hover-text);
        font-size: 1.2em;
    }

    /* End of Main Navigation Section */



    /* Activities Section */

    div.activity-images img {
        height: 300px;
    }

    /* End of Activities Section */



    /* Temple Location Section */

    div.locations {
        display: grid;
        grid-template-columns: ;
    }

    /* End Temple Location Section */



    /* Footer Section */

    footer {
        grid-template-areas: "map contact""map summary";
        grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    }

    footer a,
    footer a:visited {
        transition: all .2s ease-in-out;
    }

    footer a:hover {
        color: var(--footer-link-hover-text);
    }

    footer .map-active {
        grid-area: map;
        margin: auto;
        height: 200px;
        width: 95%;
    }

    /* End Footer Section */
}