@media only screen and (min-width: 55em) {

    .pagetitle {
        font-size: 1.75em;
    }

    main,
    footer {
        min-width: 500px;
        max-width: 1200px;
    }

    header {
        height: 11em;
    }

    nav {
        font-size: 1.25em;
        width: 100%;
    }

    nav ul {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }

    nav ul li {
        display: unset;
    }

    /* nav ul li a {
        display: unset;
        float: left;
        border-right: 1px solid var(--nav-seperator);
        padding: .8em 1em;
    }
 */
    nav ul li:last-child a {
        border: none;
    }

    nav ul li:first-child {
        display: none;
    }

    header >img {
        height: 170px;
    }

    .summary-content {
        font-size: 2em;
        max-width: unset;
    }

}