@media only screen and (min-width: 55em) {

    .pagetitle {
        font-size: 1.75em;
    }

    main,
    footer {
        min-width: 500px;
        max-width: 1200px;
    }

    header {
        height: 10em;
    }

    header img {
        height: 150px;
    }

    /* ***** Navigation Menu Section ***** */

    nav {
        font-size: 1em;
    }

    nav ul li a {
        padding: .5em .7em;
    }

    /* 


    nav ul li {
        display: unset;
        align-self: center;
    }

    nav ul li a {
        padding: .8em;
    }

    nav ul li:last-child a {
        border: none;
    }

 */

    header>img {
        height: 170px;
    }

    /* ***** Summary Container ***** */

    .summary-content {
        font-size: 1.75em;
        max-width: unset;
    }

    .summary-content h2 {
        font-size: 1.1em;
        margin: 0;
    }

    .summary-content>.header-row {
        line-height: unset;
    }

    /* ***** End of Summary Container ***** */

    .forecast-container {
        max-width: 520px;
    }

    .forecast-container h2 {
        font-size: 1.5em;
    }

    .forecast-content {
        font-size: 1.25em;
    }

    /* ***** Article Container ****** */

    .article-content h2 {
        font-size: 1.7em;
    }

    .disp-full-artcile>button {
        font-size: 1.2em;
    }

    .article-content p {
        font-size: 1.2em;
    }

    /* ***** End of Article Container ****** */

    .contact-icons img {
        padding: 1em;
    }
    
    .map-container iframe {
        width: 500px;
        height: 350px;
    }
}