@media only screen and (min-width: 55em) {

    .pagetitle {
        font-size: 1.75em;
    }

    main,
    footer {
        min-width: 500px;
        max-width: 1200px;
    }

    header {
        height: 10em;
    }

    header img {
        height: 150px;
    }

    /* ***** Navigation Menu Section ***** */

    nav {
        font-size: 1em;
    }

    nav ul li a {
        padding: .5em .7em;
    }

    /* 


    nav ul li {
        display: unset;
        align-self: center;
    }

    nav ul li a {
        padding: .8em;
    }

    nav ul li:last-child a {
        border: none;
    }

 */

    header>img {
        height: 170px;
    }

    /* ***** Summary Container ***** */

    .summary-content {
        font-size: 1.75em;
        max-width: unset;
    }

    .summary-content h2 {
        font-size: 1.1em;
        margin: 0;
    }

    .summary-content>.header-row {
        line-height: unset;
    }

    /* ***** End of Summary Container ***** */

    .forecast-container {
        max-width: 520px;
    }

    .forecast-container h3 {
        font-size: 1.5em;
    }

    .forecast-content {
        font-size: 1.25em;
    }

    /* ***** Article Container ****** */

    .article-content h3 {
        font-size: 1.7em;
    }

    .disp-full-artcile>button {
        font-size: 1.2em;
    }

    .article-content p {
        font-size: 1.2em;
    }

    /* ***** End of Article Container ****** */

    .contact-content h2 {
        font-size: 1.5em;
        padding: .2em;
    }

    .contact-address-container {
        padding-bottom: unset;
    }

    .contact-address {
        margin-bottom: .5em;
    }

    .contact-icons img {
        padding: .25em;
        height: 25px;
    }

    .comm-icons {
        font-size: 1em;
        margin-bottom: .5em;
    }

    .comm-icons img {
        height: 25px;
    }


    .map-container iframe {
        width: 400px;
        height: 150px;
    }

    .wx-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .wx-gallery div:hover {
        box-shadow: 5px 5px 30px var(--yankeesblue);
    }

    /* Cards for City info */
    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: unset;
        grid-template-areas: "preston sodasprings fishhaven";
    }

    div.cards section {
        text-align: center;
        height: 95%;
        transition: all .5s ease-in-out;
    }

    div.cards section a {
        height: 90%;
        margin:
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "info""image";
        transition: all .5s ease-in-out;
    }

    div.cards section:hover {
        transform: translate(0, 10px) scale(1.1);
        opacity: .9;
    }

    div.cards section.preston:hover {
        transform: translate(10px, 10px) scale(1.1);
        opacity: .9;
    }

    div.cards section:hover.fishhaven {
        transform: translate(-10px, 10px) scale(1.1);
        opacity: .9;
    }

    div.cards section a.sodasprings {
        grid-template-areas:
            "info""image";
    }

    div.cards section a .image {
        width: 95%;
        height: auto;
        margin: auto;
    }

    div.wx-story {
        width: 95%;
        max-width: unset;
    }

    div.wx-story .wx-story-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "title title""content image"
    }

    div.wx-story .wx-story-title {
        grid-area: title;

    }

    div.wx-story .wx-story-content {
        grid-area: content;
        align-self: center;
    }

    section.wx-story-section .wx-story-image-link {
        display: unset;
        grid-area: image;
        align-self: center;
        margin: 1em;
        transition: all .5s ease-in-out;
    }

    section.wx-story-section .wx-story-image-link:hover {
        transform: scale(1.05);
                box-shadow: 10px 10px 40px var(--taupe);
        opacity: .9;
    }


    section.wx-story-section img {
        border-radius: .25em;
        box-shadow: 5px 5px 20px var(--taupe);
    }


}