/* To use the fonts...
    font-family: 'Open Sans', 'georgia', sans-serif;
    font-family: 'Dancing Script', cursive;
*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

/* Main Elements Declaration */

body {
    background: var(--body-bkg);
    font-family: 'Open Sans', 'georgia', sans-serif;
    min-width: 240px;
}

li,
a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--body-link-text);
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--body-link-hover-text);
}

/* End of Main Elements Declaration */


/* Header Section */

header {
    display: flex;
    background: var(--main-nav-bkg);
    color: var(--main-nav-text);
    font-size: .75em;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

header h1 {
    margin: 0 0 .25em 0;
}

/* End of Header Section */


/* Main Navigation Section */
nav ul li a,
nav ul li a:visited {
    color: var(--main-nav-text);
}

nav {
    margin: auto;
    background: var(--main-nav-bkg);
    color: var(--main-nav-text);
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

nav>ul:not(.displayed) li {
    display: none;
}

nav ul.displayed li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
}

nav ul li a.active {
    background: var(--main-nav-active-link-bkg);
    color: var(--main-nav-active-link-text);
}

nav>ul>li:first-child {
    display: inline;
}


/* End of Main Navigation Section */


/* Main Body Section */

main {
    margin: 1em auto;
}

/* End of Main Body Section */



/* Activities Section */

div.activity-images {
    margin: auto;
    padding-top: 1em;
}

.activities-image {
    min-width: 250px;
    max-width: 95%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 2px;
    display: block;
}

.activities {
    margin: auto;
    padding: .5em;
}


/* End of Activities Section */

/* Activities and Temple Sections */

div.activities-section,
div.locations {
    background: var(--container-background);
    margin: auto;
    border-radius: 5px;
}

div.activities-section,
div.locations {
    background: var(--container-background);
    margin: 1em auto;
    border-radius: 5px;
}



/*  End of Activities and Temple Sections */

/* Temple Location Section */

div.locations {
    margin-top: 1em;
}

div.locations h2,
div.locations p {
    padding: .5em .5em 0 .5em;
}

div.hotels h3 {
    text-align: center;
    margin: .5em;
}

div.hotels {
    padding: 1em;
}

div.hotels .image {
    max-width: 300px;
    margin: auto;
}

div.hotels>a {
    max-width: 150px;
    display: block;
    margin: 1em auto;
    padding: .5em;
    background: var(--button-background);
    border: none;
    color: var(--button-text);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transition: all .2s ease-in-out;
    text-align: center;
}

div.hotels a:hover {
    transform: scale(1.1);
}

div.locations .button-container {
    display: none;
}

div.hotels img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 2px;
}


div.hotels hr {
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 1px;
    margin-top: 2em;
}


/* End of Temple Location Section */



/* Footer Section */
footer {
    display: grid;
    grid-template-areas: "contact""summary";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    background: var(--main-nav-bkg);
    color: var(--main-nav-text);
    padding: .5em 0;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

footer a,
footer a:visited {
    color: var(--main-nav-link-text);
    margin: .5em;
}

footer .contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contactlink contactlink""telcontact emailcontact";
    align-items: center;
}

footer .contact .contact-link {
    grid-area: contactlink;
}

footer .contact .tel-contact {
    grid-area: telcontact;
    text-align: right;
    padding-right: .5em;
    font-size: 20px;
}

footer .contact .email-contact {
    grid-area: emailcontact;
    text-align: left;
    padding-left: .5em;
    font-size: 30px;
}

footer .summary {
    grid-area: summary;
}

#updated-on {
    padding-top: .5em;
    font-size: .5em;
}

/* End of Footer Section */


/* Begin Activities & Temples Page Section */

div.activities-section,
div.locations {
    background: var(--container-background);
    margin: auto;
    border-radius: 5px;
}

div.activities-section,
div.locations {
    background: var(--container-background);
    margin: 1em auto;
    border-radius: 5px;
}



/*  End of Activities and Temple Sections */

/* Temple Location Section */

div.temple-locations {
    margin: auto;
    margin-top: 1em;
}

div.temples {
    margin: auto;
    margin-top: 2em;
}

div.temple-locations h2,
div.temple-locations p {
    padding: .5em .5em 0 .5em;
}

div.temple-locations .button-container {
    display: none;
}

div.temples a,
div.temples a:visited {
    color: var(--main-nav-link-text);
}

div.temples a:hover {
    color: var(--jordy-blue);
}

div.temples h3 {
    text-align: center;
}

div.temples .temple-contact-container {
    text-align: center;
    margin-bottom: 2em;
}

div.temples .email-text {
    display: none;
}

div.temples .phone-text {
    display: none;
}

div.temples .phone-icon {
    font-size: 1.2em;
    margin: 1em;
}

div.temples .email-icon {
    font-size: 1.5em;
    margin: 1em;
}

div.temples .address {
    text-align: center;
    margin: 1em auto;
}

div.temples .image {
    grid-area: temples-image;
    margin: .5em auto auto auto;
    width: 95%
}

div.temples img {
    width: 100%;
}

div.temples .temple-services,
div.temples .temple-histories,
div.temples .temple-closures,
div.temples .temple-baptistry-schedule,
div.temples .temple-initatory-schedule,
div.temples .temple-endowment-schedule,
div.temples .temple-sealing-schedule {
    margin: 1em 1em 0 1em;
}

div.temples .list-title {
    font-size: .9em;
}

div.temples li {
    font-size: .7em;
}



/* End Temples Page Section */


/*  Property Section */

div.properties-container,
div.atl-properties-container {
    margin: auto;
    margin-top: 1em;
}

div.property {
    margin: auto;
    margin-top: 2em;
}

div.properties-container h2,
div.properties-container p,
div.atl-properties-container h2,
div.atl-properties-container p {
    padding: .5em .5em 0 .5em;
}

div.properties-container .button-container {
    display: none;
}

div.property h3 {
    text-align: center;
}

div.property .property-contact-container {
    text-align: center;
    margin-bottom: 2em;
}

div.property .email-text {
    display: none;
}

div.property .phone-text {
    display: none;
}

div.property .phone-icon {
    font-size: 1.2em;
    margin: 1em;
}

div.property .email-icon {
    font-size: 1.5em;
    margin: 1em;
}

div.property .address {
    text-align: center;
    margin: 1em auto;
}

div.property>a,
div.property>a:visited,
div.property>input.submitbtn,
div.property-container>a.return-link {
    max-width: 150px;
    display: block;
    margin: 1em auto;
    padding: .5em;
    background: var(--button-background);
    border: none;
    color: var(--button-text);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transition: all .2s ease-in-out;
    text-align: center;
}

div.property>a:hover {
    transform: scale(1.1);
    background: var(--button-background-hover);
    color: var(--button-text-hover);

}


/* Added 12.19 to care for FT Missionary Page */
div.property .images {
    width: 95%;
    margin: auto;
}

div.property .image-div {
    width: 100%;
    margin: auto;
}

div.property .image {
    grid-area: temples-image;
    margin: .5em auto auto auto;
    width: 100%;
    /* Modified 12/19/19 6PM */
}

div.property img {
    width: 100%;
}

div.property .room-count {
    width: 90%;
    margin: 2em auto auto;
}

div.property .garage {
    width: 90%;
    margin: 1em auto;
}


div.property .property-services,
div.property .property-amenities {
    margin: 1em 1em 0 1em;
}

div.property .list-title {
    font-size: .9em;
}

div.property li {
    font-size: .7em;
}

/* End Property Section */


/* Reservations Section */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
}

form div {
    margin: 2em auto;
}

div.res-container label,
form label {
    margin: auto auto 1em auto;
}

div.res-container select {
    margin: auto auto 2em auto;
    border: 1px solid black;
}

form div.red {
    color: var(--space-cadet);
    background: var(--peach-orange);
    padding: .5em;
    border-radius: 5px;
    border: 3px solid red;
    margin-bottom: 3em;
}

div.res-container .red {
    color: rgba(255, 0, 0);
}

form label.stacked,
div.res-container select,
select.propertyselect {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 95%
}

div.res-container form label.stacked.namelbl {
    margin: 2em auto 1em auto;
}

form :required:invalid {
    border-left: red solid 4px;
}

form :required:valid {
    border-left: green solid 3px;
}

form input.submitbtn,
.submitbtn {
    margin: auto auto 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    border: none;
    background: var(--button-background);
    color: var(--button-text);
    width: 50%;
    height: 2em;
    transition: all .2s ease-in-out;
}

form input.submitbtn:hover,
.submitbtn:hover {
    transform: scale(1.1);
    background: var(--button-background-hover);
    color: var(--button-text-hover);

}

/* End of Reservations Section */


/* Services Section */

div.property>.link-container>a,
div.property>.link-container>a:visited {
    max-width: 150px;
    display: block;
    margin: 1em auto;
    padding: .5em;
    background: var(--button-background);
    border: none;
    color: var(--button-text);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transition: all .2s ease-in-out;
    text-align: center;
}

div.property>.link-container>a:hover {
    transform: scale(1.1);
    background: var(--button-background-hover);
    color: var(--button-text-hover);

}

/* End of Services Section */

/* Wedding Reception Section */


div.property.reception-page>a,
div.property-container>a.return-link {
    margin: 0 auto;
}

.reception-page .images .image-div:not(.hidden) {
    display: unset;
}

.reception-page .images .image-div.hidden {
    display: none;
}

.reception-page .images {
    display: flex;
    align-items: center;
    height: 250px;
    max-width: 300px;
    margin: auto;
}

.reception-page .image-div {
    text-align: center;
    width: 100%;
}

.reception-page .images .image {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 2px;
}

.reception-page .property-grid-container {
    margin: auto .5em;
}

/* End Wedding Reception Section */

/* Contact Form */
.ftmissionarypage .property h3 {
    margin-top: 2em;
}

.ftmissionary-container p {
    width: 50%;
    margin: auto;
}

.ftmissionarypage .button-container {
    padding: 2em;
}

.ftmissionary-container div.property .images {
    margin: auto auto 2em auto;
}

.form-container:not(.hidden) {
    background: rgba(255, 255, 255, .7);
}

.property-container.hidden,
.form-container.hidden {
    display: none;
}

form .cancel-link {
    width: 25%;
    font-size: 1em;
    height: 1em;
    display: block;
    margin: 1em auto;
    padding: .5em;
    background: none;
    border: none;
    color: var(--button-background);
    text-align: center;
}

form .cancel-link:hover {
    color: red;
}

/* End Contact Form */

/* Thanks Section */

.thanks-container {
    padding-top: 4em;
    min-height: 400px;
    margin: auto;
}

/* End Thanks Section */